.menu {
  > ul {
    display: flex;
    > li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.btn {
  border: 1px solid $primary-color;
  border-radius: 80px;
  padding: $btn-padding-height $btn-padding-width;
  color: $primary-color;
  cursor: pointer;

  &-primary {
    background: $primary-color;
    color: $white !important;
  }
}
